.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #a7e615;
}

.side-menu button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.side-menu button:hover {
    background-color: #777;
}

.user-info {
    position: absolute;
    top: 0;
    right: 10px;   
    padding: 10px;    
}